---
- name: Configure AMI
  hosts: all
  become: true

  tasks:

    - name: Update apt
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - nginx
          - nodejs
          - npm
        state: present

    - name: Create app directory
      file:
        path: /src/clumsy-bird
        state: directory
        mode: "0755"

    - name: Copy application source
      copy:
        src: ../clumsy-bird/
        dest: /src/clumsy-bird/
        mode: "0755"

    - name: Copy launch script
      copy:
        src: ../assets/launch.sh
        dest: /src/clumsy-bird/launch.sh
        mode: "0755"

    - name: Copy systemd service
      copy:
        src: ../assets/clumsy-bird.service
        dest: /etc/systemd/system/clumsy-bird.service
        mode: "0644"

    - name: Reload systemd
      command: systemctl daemon-reload

    - name: Enable service
      command: systemctl enable clumsy-bird
