---
- name: Configure AMI
  hosts: all
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Copy app source
      copy:
        src: clumsy-bird/
        dest: /src/clumsy-bird/
        mode: "0755"

    - name: Copy launch script
      copy:
        src: launch.sh
        dest: /src/clumsy-bird/launch.sh
        mode: "0755"

    - name: Copy systemd service file
      copy:
        src: clumsy-bird.service
        dest: /etc/systemd/system/clumsy-bird.service
        mode: "0644"

    - name: Reload systemd
      command: systemctl daemon-reload

    - name: Enable service
      command: systemctl enable clumsy-bird

    - name: Start service
      command: systemctl start clumsy-bird
