---
- name: Configure AMI
  hosts: all
  become: true

  tasks:
    - name: Update apt
      apt:
        update_cache: yes

    - name: Install nginx
      apt:
        name: nginx
        state: present

